@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Calistoga&family=Coiny&family=Cookie&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 73vh;
    font-family: "Albert Sans", sans-serif;
    background-image: url(img/background1.png);
    background-size: 400px;
    width: 100%;
    overflow-x: hidden;
}

.home {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   margin: 26vh auto 20px auto;
}

.home img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: black 1px solid;
    margin-right: 110px;
    margin-left: 20px;
}

.principalPC {
    margin-left: 30px;
    line-height: 100px;
}

h1 {
    font-size: 60px;
    font-family: "Calistoga", sans-serif;
    color: #000000;
    margin-left: 20px;
    font-weight: bolder;
}

.principalPC h1 span {
    color: #5d381c;
}

.principalMobile img {
    display: none;
    border: none;
    height: 100px;
    width: 100px;
}

.principalMobile{
    display: none;
}

.opcoes {
    margin-top: 30vh;
    height: 120vh;
    background-color: #5d381c;
}

h2 {
    font-size: 35px;
    font-family: "Calistoga", sans-serif;
}

.opcoes h2 {
    text-align: center;
    padding-top: 20vh;
    color: #ffffff;
}

.cards {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    justify-content: center;

}

.card-cookie, .card-torta, .card-banoffe {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    margin: 0 30px 20px 30px;
    animation: move 2s infinite ease-in-out;
}

.doce {
    width: 250px;
    height: 320px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card-cookie p:nth-of-type(3) span, .card-torta p:nth-of-type(3) span, .card-banoffe p:nth-of-type(3) span {
    color:#5d381c;
    margin-right: 15px;
    font-weight: bold;
}

.card-cookie p:nth-of-type(1), .card-torta p:nth-of-type(1), .card-banoffe p:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-cookie p:nth-of-type(2), .card-torta p:nth-of-type(2), .card-banoffe p:nth-of-type(2) {
    font-size: 10px;
    color: gray;
    text-align: center;
    line-height: 12px;
    margin-bottom: 10px;
}

.infos {
    text-align: center;
    margin: 0 25vw;
}

.infos h2 {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.entregas span, .infos span:nth-of-type(2) {
    font-weight: bold;
    color: #5d381c;
}

.infos span:nth-of-type(1) {
    font-weight: bold;
}

.descricao, .entregas, .duvidas, .pagamento {
    margin-bottom: 15px;
}

.descricao p, .entregas p, .pagamento p {
    line-height: 30px;
    padding-bottom: 10px;
}
.duvidas p {
    line-height: 20px;
}

.duvidas svg {
    width: 22px;
    height: 22px;
}

 .pagamento svg {
    width: 20px;
    height: 20px;
 }

.infos h3 {
    padding-bottom: 20px;
    padding-top: 40px;
}

address a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

svg {
  position: relative;
  top: 4px; 
}

footer {
    background-color: #5d381c;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
    }
}

@media (max-width: 768px) {
    
body {
    height: auto;
    background-size: 200px; 
    }

.home {
    flex-direction: column;
    margin: 5vh auto;
    text-align: center;
    }

.home img {
    width: 300px;
    height: 300px;
    margin: 90px auto 20px auto;
}

.principalPC {
    display: none;
}

.principalMobile {
    display: block;
    margin-left: 0;
    line-height: 100px; 
    }

.principalMobile img {
    display: block;
    border: none;
    height: 200px;
    width: 200px;
    margin-bottom: 160px;
}

.principalMobile h1 {
    font-size: 45px;
}

.principalMobile h1 span {
    color: #5d381c;
}

.principalMobile a {
    animation: move 2s infinite ease-in-out;
    text-decoration: none;
    color: #000000;
    font-size: 35px;
}

.principalMobile p {
    font-size: 30px; 
}

.opcoes {
    height: auto; 
    padding-bottom: 5vh;
}

.opcoes h2 {
    padding-top: 60px;
}

.cards {
    flex-direction: column; 
    align-items: center;
    padding-top: 5vh;
}

.card-cookie, .card-torta, .card-banoffe {
    margin: 20px 0;
    padding: 10px;
    line-height: normal;
}

.doce {
    margin-bottom: 10px;
}

.card-cookie p:nth-of-type(3) span, .card-torta p:nth-of-type(3) span, .card-banoffe p:nth-of-type(3) span {
    color:#5d381c;
    margin-right: 15px;
    font-weight: bold;
}

.card-cookie p:nth-of-type(1), .card-torta p:nth-of-type(1), .card-banoffe p:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-cookie p:nth-of-type(2), .card-torta p:nth-of-type(2), .card-banoffe p:nth-of-type(2) {
    font-size: 10px;
    color: gray;
    text-align: center;
    line-height: 12px;
    margin-bottom: 10px;
}

.infos {
    text-align: center;
    margin: 10px;
}

.infos h2 {
    padding-top: 90px;
    padding-bottom: 5vh;
    font-size: 27px;
}

.container p, .container a {
    font-size: 18px; 
    line-height: 40px;
}

svg {
  position: relative;
  top: 4px; 

}

}
